<div class="card" style="width: 18rem;">
  <div class="card-header">
    {% if post.user.profile.image %}
    <img src="{{ post.user.profile.image.url }}" width="25" alt="">
    {% endif %}
    <span>{{ post.user.username }}</span>
  </div>
  
  <!-- carousel 부분 -->
  <div id="post_{{ post.id }}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- 이미지 반복 돌려서 출력 -->
      {% for image in post.image_set.all %}
      <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"> <!-- 첫번째 사진에만 active 가 걸리는 조건문 -->
        <img src="{{ image.file.url }}" class="card-img-top" alt="{{ image.file }}">
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#post_{{ post.id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#post_{{ post.id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  
  
  
  
  
  <div class="card-body">
    <!--<a href="{% url 'posts:like' post.id %}">-->
    
    <i class="{% if user in post.like_users.all %}fas{% else %}far{% endif %} fa-heart like-button" data-id="{{ post.id }}"></i>
    
      <!--{% if user in post.like_users.all %} <!-- 좋아요 눌렀으면 꽉 찬 하트 -->
      <!--  <i class="fas fa-heart"></i>-->
      <!--{% else %}  <!-- 아니면 -->
      <!--  <i class="far fa-heart"></i>  <!-- 빈 하트 -->
      <!--{% endif %}-->
    <!--</a>-->
    
    <p class="card-text">
      <span id="like-count-{{ post.id }}">{{ post.like_users.count }}</span> 명이 좋아합니다
    </p>
  </div>
  
  
  
  <div class="card-body">
    <p class="card-text">{{ post.content }}</p>
    
    {% if post.user == user %}   <!-- == 띄어써야 함 -->
    <a href="{% url 'posts:update' post.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    
  </div>
  
  <div class="card-body">
    {% for comment in post.comment_set.all %}
    <div class="card-text">
      <strong>{{ comment.user.username }}</strong>{{ comment.content }}
      {% if comment.user == user %}  <!-- 댓글 주인과, 현재 로그인한 user 가 같으면 -->
      <a href="{% url 'posts:comment_delete' post.id comment.id %}">삭제</a>  <!-- 띄어쓰기 지켜야 -->
      {% endif %}
    </div>
    {% empty %}   <!-- html 에서만 쓸 수 있는 문법. 만약에 post.comment_Set.all 이 비어있으면(=반복을 돌릴 것이 없으면) 아래 구문行-->
      <div class="card-text">댓글이 없습니다.</div>
    {% endfor %}
  </div>
  
  {% if user.is_authenticated %}  <!-- 로그인 했을 때만 댓글작성 창을 보여줘 -->
  <form action={% url 'posts:comment_create' post.id %} method="POST">
    {% csrf_token %}
    
    <!--# bootstrap 에서 input group 검색하면 button addons 있음 (input 오른쪽에 제출버튼 있는 거)-->
    <div class="input-group">
    {{ comment_form }}
    <div class="input-group-append">
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
    </div>

  </form>
  {% endif %}
  
</div>