<div class="card" style="width: 18rem;">
  <div class="card-header">
    <span>{{ post.user.username }}</span>
  </div>
  
  {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image }}">
  {% endif %}
  
  
  <div class="card-body">
    <a href="{% url 'posts:like' post.id %}">
      {% if user in post.like_users.all %} <!-- 좋아요 눌렀으면 꽉 찬 하트 -->
        <i class="fas fa-heart"></i>
      {% else %}  <!-- 아니면 -->
        <i class="far fa-heart"></i>  <!-- 빈 하트 -->
      {% endif %}
    </a>
    
    <p class="card-text">
      {{ post.like_users.count }} 명이 좋아합니다
    </p>
  </div>
  
  
  
  <div class="card-body">
    <p class="card-text">{{ post.content }}</p>
    
    {% if post.user == user %}   <!-- == 띄어써야 함 -->
    <a href="{% url 'posts:update' post.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    
  </div>
  
  <div class="card-body">
    {% for comment in post.comment_set.all %}
    <div class="card-text">
      <strong>{{ comment.user.username }}</strong>{{ comment.content }}
      {% if comment.user == user %}  <!-- 댓글 주인과, 현재 로그인한 user 가 같으면 -->
      <a href="{% url 'posts:comment_delete' post.id comment.id %}">삭제</a>  <!-- 띄어쓰기 지켜야 -->
      {% endif %}
    </div>
    {% empty %}   <!-- html 에서만 쓸 수 있는 문법. 만약에 post.comment_Set.all 이 비어있으면(=반복을 돌릴 것이 없으면) 아래 구문行-->
      <div class="card-text">댓글이 없습니다.</div>
    {% endfor %}
  </div>
  
  {% if user.is_authenticated %}  <!-- 로그인 했을 때만 댓글작성 창을 보여줘 -->
  <form action={% url 'posts:comment_create' post.id %} method="POST">
    {% csrf_token %}
    
    <!--# bootstrap 에서 input group 검색하면 button addons 있음 (input 오른쪽에 제출버튼 있는 거)-->
    <div class="input-group">
    {{ comment_form }}
    <div class="input-group-append">
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
    </div>

  </form>
  {% endif %}
  
</div>